@model IEnumerable<KursKayit>

    <h2>Öğrenci Listesi</h2>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=>m.KayitId)</th>
                <th>@Html.DisplayNameFor(m=>m.Ogrenci.AdSoyad)</th>
                <th>@Html.DisplayNameFor(m=>m.Bootcamp.Baslik)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.KayitId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ogrenci.AdSoyad)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bootcamp.Baslik)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Details</a>
                        <a asp-action="EdiDeletet" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>